body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-top: 2rem;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

table th, table td {
    padding: 0.75rem;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #f8f8f8;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
}

.view-buttons {
    display: flex;
    gap: 0.5rem;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

button {
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    
}

button:hover {
    background-color: #0056b3;
}

.table-title {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  
  .tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .info-icon {
    background-color: white;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .info-icon:hover {
    background-color: #a1a1a1;
  }
  
  .tooltip-text {
    visibility: hidden;
    opacity: 0;
    width: 250px;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 120%; /* Show below the icon */
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s;
    font-size: 0.9rem;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  .pagination-controls {
    margin-top: 1rem;
  }

  
  .pagination-controls button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination-controls span {
    font-size: 1rem;
    color: #333;
  }



